<script type="text/javascript" src="{JS}/myrevu.cash.js"></script>
<div class="title_line gray_l_text"><img src="/images/myrevu/title_cash.gif" align="left"/></div>
<div class="mycash_bg">
	<ul>
		<li style="height:45px;"></li>
		<li class="mycash_bg_text red_title">{=number_format(cash.cash_save)}</li>
		<li class="mycash_bg_text gray_l_title">{=number_format(cash.cash_use)}</li>
		<li class="mycash_bg_text black_title">{=number_format(cash.cash)}</li>
	</ul>
</div>
<div class="mycash_bg_but">
	{? cash.cash >= 30000}
	<img src="/images/common/but/but_cashoffer.gif" id="withdrawBtn" alt="출금신청" title="출금신청" class="btn" />
	{:}
	<img src="/images/common/but/but_cashoffer.gif" id="withdrawBtn2" alt="출금신청" title="출금신청" class="btn" />
	{/}
</div>
<div class="clear" style="height:60px;"></div>
<!-- 적립내역 시작 -->
<div class="title32_line">
	<img src="/images/myrevu/title_cashlist.gif"  align="left"/>
</div>
<div style="width:714px; height:auto;">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="table_listbg" width="120"><strong>날짜</strong></td>
			<td class="table_listbg" width="3"><img src="/images/common/bg/bg_table_sline.gif" /></td>
			<td class="table_listbg" width="480"><span class="gray_d_text"><strong>내용</strong></span></td>
			<td class="table_listbg" width="3"><img src="/images/common/bg/bg_table_sline.gif" /></td>
			<td class="table_listbg" width="120"><span class="gray_d_text"><strong>캐쉬</strong></span></td>
		</tr>
		{@list}
		<tr>
			<td colspan="2" class="table12_line" align="center">
				<div class="common_text text_overlay17">{.regdate}</div>
			</td>
			<td colspan="2" class="table12_line" ><a href="#">
				<div class="common_text text_overlay17">{.cash_explain} <a href="javascript:common.socialbar({.rno});" class="socialbar">{.title}</a></div>
			</td>
			<td class="table12_line" align="center">
				<span class="{.span_class}">{.sign} {=number_format(.cash)}</span>
			</td>
		</tr>
		{/}
		<!--{? cnt < 1}-->
		<tr>
			<td colspan="5" class="table12_line" align="center">
				<div class="common_text text_overlay17">캐시정보가 없습니다.</div>
			</td>
		</tr>
		<!--{/}-->
	</table>
</div>
<div class="clear"></div>
<div class="pageno">{link}</div>