<div class="title_line gray_l_text"><img src="/images/myrevu/title_findid.gif"  align="left"/></div>
<div class="auth_text_box">
	<ul>
		<li class="dot_list630">아이디를 잊으셨나요? </li>
		<li class="dot_list630">
			가입하실 때 기재하셨던 <span class="red_text">이메일 주소</span> 를 입력해주세요. 
			레뷰 아이디를 이메일로 보내드립니다.
		</li>
		<li class="pt20"></li>
		<li class="auth_text_line">
			<span class="gray_d_text w_space"><strong>이메일</strong></span>
			<input name="search_email" type="text" class="input_320" id="search_email" value="" />
			&nbsp;&nbsp;
			<img src="/images/common/but/but_gb_ok.gif" id="searchIDBtn" alt="확인" title="확인" style="margin-bottom:-6px;" class="btn" />
		</li>
	</ul>
</div>
<div style="height:60px;"></div>
<div class="title_line gray_l_text"><img src="/images/myrevu/title_findpw.gif"  align="left"/></div>
<div class="auth_text_box">
	<ul>
		<li class="dot_list630">패스워드를 잊으셨나요? </li>
		<li class="dot_list630">
			레뷰 <span class="red_text">아이디, 이메일주소</span>를 입력해주세요. 임시 비밀번호를 이메일로 보내드립니다.
		</li>
		<li class="pt20"></li>
		<li class="auth_text_line">
			<span class="gray_d_text w_space"><strong>아이디</strong></span>
			<input type="text" name="search_id" id="search_id" class="input_320" />
		</li>
		<li class="auth_text_line">
			<span class="gray_d_text w_space"><strong>이메일</strong></span>
			<input type="text" name="search_email2" id="search_email2" class="input_320" value="" />
			<img src="/images/common/but/but_gb_ok.gif" id="searchPasswdBtn" alt="확인" title="확인" style="margin-bottom:-6px;" class="btn" />
		</li>
	</ul>
</div>
<div style="height:60px;"></div>
{*}
<div class="auth_text_box common11_text" style="border-top:#666666 solid 1px;">
	소셜 서비스 <span class="red_text">(facebook, twitter)</span> 
	계정으로 레뷰를 사용하시는 회원들께서는 해당 사이트에서 아이디/비밀번호 찾기를 하실 수 있습니다.
</div>
<div style="width:674px;height:21px;padding:20px;">
	<img src="/images/myrevu/img_fbline.gif" />
	<a href="#" target="_blank"><img src="/images/common/but/but_w_go.gif" alt="바로가기" title="바로가기" /></a>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<img src="/images/myrevu/img_twline.gif" />
	<a href="#" target="_blank"><img src="/images/common/but/but_w_go.gif" alt="바로가기" title="바로가기" /></a>
</div>
{/*}
