<script type="text/javascript" src="{JS}/_global/input.js"></script>
<script type="text/javascript" src="{JS}/manager.log.js"></script>
<h2>포인트로그</h2>
<form name="form1" id="form1">
<input type="radio" name="flag" value="all" {?param[1]=='all' || param[1]==''}checked{/} />전체
<select name="opt" id="opt">
	<option value="">==검색==</option>
	<option value="nickname" {? param[2]=='nickname'}selected{/}>닉네임</option>
	<option value="userid" {? param[2]=='userid'}selected{/}>아이디</option>
	<option value="userno" {? param[2]=='userno'}selected{/}>회원번호</option>
</select>
<input type="text" name="keyword" id="keyword" value="{param[3]}" />
<input type="button" value="검색" id="searchPointLogBtn" />
&nbsp;
<strong>| 총 <font color="red">{=number_format(cnt)}</font>건이 검색되었습니다.</strong>
<hr />
<table width="100%">
	<tr>
		<th>일련번호</th> 
		<th>아이디</th>
		<th>닉네임</th>
		<th>이름</th>
		<th>포인트타입</th>
		<th>포인트</th>
		<th>적용전포인트</th>
		<th>적용후포인트</th>
		<th>등록일</th>
	</tr>
	{@list}
	<tr align="center">
		<td>{.idx}</td>
		<td>{.user.userid}</td>
		<td><a href="javascript:common.popup('popupUserInfo','/manager/user.info/{.userno}');">{.user.nickname}</a></td>
		<td>{.user.username}</td>
		<td>{.point_type_text}</td>
		<td>{=number_format(.point)}</td>
		<td>{=number_format(.point_before)}</td>
		<td>{=number_format(.point_after)}</td>
		<td>{.regdate}</td>
	</tr>
	{/}
</table>

<div class="pageno">{link}</div>
</form>