<script type="text/javascript" src="{JS}/manager.review.js"></script>
<script type="text/javascript">
var wno_now={wno}; 
var wno_prev={wno_prev};
</script>
<h2>베스트리뷰 추천현황</h2>
<hr>
<table>
	<tr>
		<td width="340" valign="top">
			<ul>
			{@list}
				<li style="height:30px;">
				{? wno == .wno}	
				<strong><font color='red'>{.sdate}일 ~ {.edate}일</font></strong>
				{: wno_prev == .wno}
				<strong><font color='blue'>{.sdate}일 ~ {.edate}일</font></strong>
				{:}
				{.sdate}일 ~ {.edate}일
				{/}	
				<input type="button" value="보기" onClick="mreview.list({.wno});" />
				</li>
			{/}
			</ul>
		</td>
		<td valign="top">
			<h2>추천회원리스트</h2>
			<div id="reviewRecomList"></div>
		</td>
	</tr>
</table>
<center>
{link}
</center>
<hr>