<link type="text/css" rel="stylesheet" href="{CSS}/_global/_style_manager.css" />
<script type="text/javascript" src="{JS}/manager.user.js"></script>
<table width="100%" class="table-user">
	<tr>
		<th width="100">총 리뷰 수</th>
		<td>{=number_format(stats.review_cnt)}</td>
	</tr>
	<tr>
		<th>베스트 리뷰</th>
		<td>{user.userno}</td>
	</tr>
	<tr>
		<th>리뷰 리스트<br />(최근10건)</th>
		<td valign="top">
			<table width="100%">
				<tr>
					<th>제목</th>
					<th>닉네임</th>
					<th>토크수</th>
					<th>등록일</th>
				</tr>
				{@list}
				<tr align="center">
					<td align="left" width="300"><a href="javascript:common.socialbar({.rno});">{.title}</a></td>
					<td>{.nickname}</td>
					<td>{.talk_cnt}</td>
					<td>{.regdate}</td>
				</tr>
				{/}
			</table>
		</td>
	</tr>			
</table>
<div class="pageno">{link}</div>