<style type="text/css">
<!--
.event_area {position:relative; overflow:hidden; text-align:left; margin:0 auto; padding:0px; width:990px; }

.event_top { float:left; margin:0px; padding:0px; width:990px; height:2524px; background:url(/images/event/likepumamate20120206/puma_img.jpg) no-repeat;}
.event_top a.btn_down { float:left; margin:2417px 0px 0px 617px; width:277px; height:66px;}
-->
</style>

<div class="event_area">
	<div class="event_top"><a class="btn_down" onfocus="this.blur()" href="http://file.revu.co.kr/partner/puma/puma_download.zip" target="_blank" ></a></div>
</div>

