<style type="text/css">
<!--
.event_area {position:relative; overflow:hidden; text-align:left; margin:0 auto; padding:0px; width:990px; }

.event_img01 { float:left; margin:0px; padding:0px; width:990px; height:600px; background:url(/images/event/likepumamate20120206/puma4_img01.jpg) no-repeat;}
.event_img02 { float:left; margin:0px; padding:0px; width:990px; height:600px; background:url(/images/event/likepumamate20120206/puma4_img02.jpg) no-repeat;}
.event_img03 { float:left; margin:0px; padding:0px; width:990px; height:600px; background:url(/images/event/likepumamate20120206/puma4_img03.jpg) no-repeat;}
.event_img04 { float:left; margin:0px; padding:0px; width:990px; height:495px; background:url(/images/event/likepumamate20120206/puma4_img04.jpg) no-repeat;}
.event_img05 { float:left; margin:0px; padding:0px; width:990px; height:122px; background:url(/images/event/likepumamate20120206/puma4_img05.jpg) no-repeat;}
.event_img06 { float:left; margin:0px; padding:0px; width:990px; height:107px; background:url(/images/event/likepumamate20120206/puma4_img06.jpg) no-repeat;}

.event_img04 a.btn_mail { float:left; margin:457px 0px 0px 610px; width:152px; height:19px;}
.event_img05 a.btn_cafe { float:left; margin:32px 0px 0px 482px; width:238px; height:21px;}
.event_img06 a.btn_down { float:left; margin:0px 0px 0px 617px; width:277px; height:66px;}
-->
</style>

<div class="event_area">
    <div class="event_img01"></div>
    <div class="event_img02"></div>
    <div class="event_img03"></div>
    <div class="event_img04"><a class="btn_mail" onfocus="this.blur()" href="mailto:mypumakr@gmail.com" target="_blank"  ></a></div>
    <div class="event_img05"><a class="btn_cafe" onfocus="this.blur()" href="http://cafe.naver.com/pumamania" target="_blank" ></a></div>
    <div class="event_img06"><a class="btn_down" onfocus="this.blur()" href="http://revu.kr/x7ah9t" target="_blank" ></a></div>
</div>
