<style type="text/css">

<!--

.event_area {position:relative; overflow:hidden; text-align:left; margin:0 auto; padding:0px; width:990px; }



.event_top { float:left; margin:0px; padding:0px; width:990px; height:1008px; background:url(/images/event/event0125/eimg_top.jpg) no-repeat;}

.event_top a.btn_info { float:left; margin:325px 0px 0px 813px; width:133px; height:32px;}



.event_01 { float:left; margin:0px; padding:0px;  width:990px; height:382px; background:url(/images/event/event0125/eimg_event01.jpg) no-repeat;}

.event_01 a.btn_fronter { float:left; margin:287px 0px 0px 73px; width:220px; height:45px;}



.event_02 { float:left; margin:0px; padding:0px;  width:990px; height:384px; background:url(/images/event/event0125/eimg_event02.jpg) no-repeat;}

.event_02 a.btn_twilog { float:left; margin:289px 0px 0px 73px; width:264px; height:45px;}

.event_02 a.btn_facelog { float:left; margin:289px 0px 0px 12px; width:277px; height:45px;}



.event_03_01 { float:left; margin:0px; padding:0px;  width:990px; height:384px; background:url(/images/event/event0125/eimg_event03_01.jpg) no-repeat;}

.event_03_01 a.btn_talk01 { float:left; margin:289px 0px 0px 73px; width:220px; height:45px;}



.event_03_02 { float:left; margin:0px; padding:0px;  width:990px; height:384px; background:url(/images/event/event0125/eimg_event03_02.jpg) no-repeat;}

.event_03_02 a.btn_talk02 { float:left; margin:289px 0px 0px 305px; width:220px; height:45px;}



.event_04 { float:left; margin:0px; padding:0px;  width:990px; height:498px; background:url(/images/event/event0125/eimg_event04_1.jpg) no-repeat;}

.event_04 a.btn_twitter { float:left; margin:400px 0px 0px 73px; width:240px; height:45px;}

.event_04 a.btn_facebook { float:left; margin:400px 0px 0px 12px; width:240px; height:45px;}



.event_info { float:left; margin:0px; padding:0px;  width:990px; height:119px; background:url(/images/event/event0125/eimg_info.jpg) no-repeat;}

.event_info a.btn_mail { float:left; margin:80px 0px 0px 130px; width:90px; height:20px;}

-->

</style>

<div class="event_area">

    <div class="event_top"><a class="btn_info" onfocus="this.blur()" href="http://blog.revu.co.kr/2137" target="_blank" ></a></div><!-- 도움말 링크 -->

    <div class="event_01"><a class="btn_fronter" onfocus="this.blur()" href="http://www.revu.co.kr/frontier" target="_self" ></a></div><!-- 프론티어 페이지 링크 -->

    <div class="event_02"><a class="btn_twilog" onfocus="this.blur()" href="http://www.revu.co.kr/api/twitter/login" target="_blank" ></a><a class="btn_facelog" onfocus="this.blur()" href="http://www.revu.co.kr/api/facebook/login" target="_blank" ></a></div>

    <div class="event_03_01"><a class="btn_talk01" onfocus="this.blur()" href="http://www.revu.co.kr/1239615" target="_blank" ></a></div>

    <!--<div class="event_03_02"><a class="btn_talk02" onfocus="this.blur()" href="#" target="_blank" ></a></div>-->

    <div class="event_04"><a class="btn_twitter" onfocus="this.blur()" href="http://twitter.com/revulove" target="_blank" ></a><a class="btn_facebook" onfocus="this.blur()" href="http://www.facebook.com/revulove" target="_blank" ></a></div>

    <div class="event_info"><a class="btn_mail" onfocus="this.blur()" href="mailto:revu@co.kr" target="_blank" ></a></div>

</div>

