@charset "utf-8";
/************************************************
Author : Hyun ju Lee / isecommerce.co.kr (2012-12)
*************************************************/

/*main-container*/
	#comm-cont.main-container {
		width:770px;
		/*margin-top:70px;fixed되면 사용*/
		padding-left:460px;
		background:url('/images/common/_bg/bg_container_130111.gif') repeat-y 0 0;
	}
		#contents {
			width:770px;
		}

/*categoryBox*/
	.categoryBox {
		*zoom:1;
		height:82px;
		padding-bottom:13px;
		background-image:url('/images/common/_layout/sprites-layout_130111.png');
		background-repeat:no-repeat;
		background-position:0 -200px;
	}
	.categoryBox:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		height: 0;
	}
		.categoryMenu {
			float:left;
			width:602px;
			height:82px;
		}
		.categoryMenu a {
			display:block;
			float:left;
			width:99px;
			height:82px;
			margin-right:1px;
			font-size:1px;
			text-indent:-9999px;
		}
		.categoryMenu a:hover {
			background-image:url('/images/common/_layout/sprites-layout_130111.png');
			background-repeat:no-repeat;
		}
		.categoryMenu a.all {
			width:101px;
		}
		.categoryMenu a.all:hover {
			background-position:0 -300px;
		}
		.categoryMenu a.clothing:hover {
			background-position:-102px -300px;
		}
		.categoryMenu a.shoes:hover {
			background-position:-202px -300px;
		}
		.categoryMenu a.bag:hover {
			background-position:-302px -300px;
		}
		.categoryMenu a.beauty:hover {
			background-position:-402px -300px;
		}
		.categoryMenu a.jewelry:hover {
			background-position:-502px -300px;
		}

/*timeline*/
	.timeline_container{
		width: 16px;
		text-align: center;
		margin: 0 auto;
		cursor:pointer;
		display: block;
	}
		.timeline{
			position: absolute;
			top:-29px;
			left: 300px;
			width: 1px;
			height: 100%;
			padding-bottom:29px;
			margin: 0 auto;
			background-color:#bfc5ca;
		}
		.timeline:hover{
			cursor: pointer;
			margin: 0 auto;
		}
		.timeline div.plus{
			width: 14px;
			height: 14px;
			position: relative;
			left: -6px;
		}


/*item-field*/
	.item-field {
		position:absolute;
		top:0;
		left:0;
		width:400px;
		padding:30px;
		background-color:#f5f7f7
	}
	.item-field .item-slide {
		position:relative;
	}
	.item-field .item-slide img {
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
	}
	.item-field .item-slide .prd-hits {
		position:absolute;
		bottom:0;
		width:380px;
		padding:10px;
		-moz-border-radius-bottomright: 5px;
		-webkit-border-bottom-right-radius: 5px;
		border-bottom-right-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
		border-bottom-left-radius: 5px;
		background:url('/images/common/_bg/bg_prdHits_130111.png') repeat-x 0 0;
	}
	.item-field .item-slide .prd-hits .hits-num {
		right:19px;
		bottom:16px;
		background:none;
	}
	.item-field .item-slide .prd-hits .bloger > p {
		padding-top:5px;
	}
	.item-field .navigator {
		padding-top:10px;
		padding-bottom:40px;
		height:10px;
		text-align:center;
	}
	.item-field .navigator a {
		display:inline-block;
		width:10px;
		height:10px;
		text-indent:-9999px;
		cursor:pointer;
		background-image:url('/images/common/_ico/sprites-icon_130111.png');
		background-repeat:no-repeat;
		background-position:-484px -200px;
	}
	.item-field .navigator a.on {
		background-position:-470px -200px;
	}
	#brandList dt,
	#brandList dd {
		float:left;
		margin-bottom:10px;
	}
	#brandList dd #brand-item li {
		float:left;
		margin-left:4px;
	}


/*collection*/
	#comm-cont.collection-cont {
		width:1211px;
		padding:26px 0 0 19px;
	}
	#collection {
		width:1230px;
		height:223px;
		background:url('/images/common/_bg/bg_collection_130111.gif') repeat-x 0 0;
	}
	.collection-bloger {
		*zoom:1;
		position:relative;
		width:1210px;
		padding:30px 0 0 20px;
		background:url('/images/common/_bg/bg_collection_130111_.gif') no-repeat 0 0;
	}
	.collection-bloger:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		height: 0;
	}
	.collection-bloger > span {
		float:left;
		width:200px;
	}
	.collection-bloger > span > img {
		max-width:160px;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-o-border-radius:5px;
		-ms-border-radius:5px;
	}
	.collection-bloger .bloger-intro {
		float:left;
		width:655px;
	}
	.collection-bloger .fanHits {
		float:left;
		width:187px;
		padding-top:9px;
	}
	.collection-bloger .fanHits li {
		float:left;
		padding:0 6px 0 8px;
		color:#242635;
		background:url('/images/common/_ico/sprites-icon_130111.png') no-repeat -470px -397px;
	}
	.collection-bloger .fanHits li:first-child {
		padding-left:0;
		background:none;
	}
	.collection-bloger .titType {
		padding:1px 0 21px;
		color:#fff;
		font-size:18px;
	}
	.collection-bloger .collection-intro {
		color:#242635;
	}
	.collection-bloger .collection-intro dt {
		font-size:18px;
		font-weight:bold;
	}
	.collection-bloger .loginArea {
		margin-top:-30px;
	}
	#collectionItem {
		width:1028px;
	}
	#collectionItem .item {
		margin-right:16px;
		margin-left:0px;
	}
	.collection-bloger > .buttonBox {
		position:absolute;
		top:96px;
		right:188px;
	}
	.subscription.button {
		width:125px;
		height:94px;
		background-position:-575px -100px;
	}
	.privateChange.button {
		width:125px;
		height:94px;
		background-position:-575px 0;
	}


/*itemBox*/
	#itemBox {
		width:600px;
	}
		.item {
			float:left;
			width:239px;
			margin-right:29px;
			margin-bottom:20px;
			margin-left:30px;
			padding-top:16px;
			border:1px solid #dfdfe1;
			border-radius: 7px;
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			-o-border-radius: 7px;
			-ms-border-radius: 7px;
			box-shadow:0px 0px 1px #ccc;
			-moz-box-shadow:0px 0px 1px #ccc;
			-webkit-shadow:0px 0px 1px #ccc;
			-o-shadow:0px 0px 1px #ccc;
			-ms-shadow:0px 0px 1px #ccc;
			min-height:50px;
		}
		.rightCorner {
			display: block;
			width: 38px;
			height: 23px;
			position: absolute;
			top:22px;
			right:-38px;
			background: url('/images/common/_ico/sprites-icon_130111.png') no-repeat 0 -300px;
		}
		.leftCorner{
			display: block;
			width: 38px;
			height: 23px;
			position: absolute;
			top:53px;
			left:-38px;
			background: url('/images/common/_ico/sprites-icon_130111.png') no-repeat 0 -250px;
		}
		.item .hits-num {
			left:0;
			width:220px;
			height:40px;
			padding:10px 0 0 0;
			background:url('/images/common/_bg/bg_bottom_gration_130111.png') no-repeat 0 0;
		}
	/*item - date and time*/
		.item p.dateTime {
			position:relative;
			width:220px;
			height:30px;
			padding-left:12px;
			padding-bottom:14px;
			line-height:30px;
			color:#acb3b9;
			font-family:Arial;
		}
		.item p.dateTime span {
			float:left;
			font-size:15px;
		}
		.item p.dateTime .upload-time > strong{
			font-size:41px;
			font-weight:normal;
		}
		.item p.dateTime .upload-date {
			position:absolute;
			top:9px;
			right:0;
			text-align:right;
		}
	/*item - imagebox style*/
		.reviewCategory-product {
			position:relative;
			width:220px;
			margin-left:10px;
		}
	/*category-item */
		.reviewCategory-product .category-item {
			display:block;
			position:absolute;
			right:10px;
			bottom:0;
			font-size:1px;
			text-indent:-9999px;
			z-index:1;
			background-image:url('/images/common/_ico/sprites-icon_130111.png');
			background-repeat:no-repeat;
		}
		.reviewCategory-product .category-item.jewerly {
			width:26px;
			height:34px;
			background-position:0 -200px;
		}
		.reviewCategory-product .category-item.shoes {
			width:35px;
			height:29px;
			background-position:0 -50px;
		}
		.reviewCategory-product .category-item.bag {
			width:33px;
			height:25px;
			background-position:0 -100px;
		}
		.reviewCategory-product .category-item.clothing {
			width:23px;
			height:30px;
			background-position:0 0;
		}
		.reviewCategory-product .category-item.beauty {
			width:27px;
			height:31px;
			background-position:0 -150px;
		}
	/*review button style*/
		#reviewBtn {
			position:absolute;
			top:0;
			left:0;
			width:220px;
			height:106px;
			padding-top:17px;
			background:url('/images/common/_bg/bg_top_gration_130111.png') no-repeat 0 0;
		}
		#reviewBtn .button {
			width:61px;
			height:29px;
		}
		#reviewBtn .button.wish {
			background-position:-5px -5px;
		}
		#reviewBtn .button.have {
			background-position:-67px -5px;
		}
		#reviewBtn .button.talk {
			background-position:-129px -5px;
		}
		#reviewBtn .button.wish:hover {
			background-position:-5px -50px;
		}
		#reviewBtn .button.have:hover {
			background-position:-67px -50px;
		}
		#reviewBtn .button.talk:hover {
			background-position:-129px -50px;
		}
	/*comment*/
		#wishComment p {
			background-position:-483px -87px;
		}
		#haveComment p {
			background-position:-483px -120px;
		}
		#talkComment p {
			background-position:-483px -147px;
		}

/*comment style*/
	.item p.comment {
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
		width:220px;
		margin-left:12px;
		padding:9px 0 7px 0;
		color:#6d6a72;
		font-weight:bold;
		border-bottom:1px solid #ebeff2;
	}
	.item .comment-write {
		padding:13px 0 10px 12px;
		border-top:1px solid #dfe2e5;
		border-bottom-left-radius: 7px;
		-moz-border-radius-bottomright: 7px;
		-webkit-border-bottom-right-radius: 7px;
		border-bottom-right-radius: 7px;
		-moz-border-radius-bottomleft: 7px;
		-webkit-border-bottom-left-radius: 7px;
		background-color:#f7f7f8;
	}
	.item .comment-write p {
		margin-bottom:4px;
		padding-left:17px;
		letter-spacing:-1px;
		font-size:11px;
		color:#84939f;
		font-weight:bold;
		background-image:url('/images/common/_ico/sprites-icon_130111.png');
		background-repeat:no-repeat;
	}
	.item .comment-write textarea {
		width:159px;
		height:22px;
		border:1px solid #bfc5ca;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
	}

/*item view*/
	#itemviewBox {
		width:795px;
		margin:40px auto 95px ;
		padding:18px 0 20px 19px;
		border:1px solid #9b9b9b;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-o-border-radius:5px;
		-ms-border-radius:5px;
		box-shadow:0px 0px 2px #888;
		-moz-box-shadow:0px 0px 2px #888;
		-webkit-shadow:0px 0px 2px #ccc;
		-o-shadow:0px 0px 2px #ccc;
		-ms-shadow:0px 0px 2px #ccc;
	}
	#itemviewBox h1 {
		font-size:25px;
		color:#000;
		font-family:Dotum;
		font-weight:normal;
	}
	#itemviewBox .uploaDate {
		*zoom:1;
		padding-bottom:7px;
	}
	#itemviewBox .uploaDate:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		height: 0;
	}
	#itemviewBox .uploaDate li {
		float:left;
		margin-right:8px;
		padding-left:9px;
		color:#888;
		font-size:11px;
		background:url(/images/common/_ico/sprites-icon_130111.png) no-repeat -490px -596px;
	}
	#itemviewBox .uploaDate li:first-child {
		padding-left:0;
		background:none;
	}
	.itemView,
	.blogerItem {float:left;}
	.itemView {
		width:580px;
		margin-right:14px;
	}
	.blogerItem {
		width:160px;
	}
	.itemView .image-item {
		position:relative;
		text-align:center;
	}
	.itemView .image-item .price-tag{
		position:absolute;
		left:0;
		top:0;
		width:135px;
		height:115px;
		background:url('/images/common/_bg/bg_priceTag_130111.png') no-repeat 0 0;
	}
	.itemView .image-item .buttonBox {
		position:absolute;
		top:10px;
		left:111px;
	}
	.itemView .image-item .buttonBox .button {
		width:117px;
		height:25px;
		margin-right:3px;
	}
	.itemView .image-item .buttonBox .button.wish {
		background-position:-299px -649px;
	}
	.itemView .image-item .buttonBox .button.have {
		background-position:-299px -649px;
	}
	.itemView .image-item .buttonBox .button.talk {
		background-position:-299px -649px;
	}
	.itemView .image-item .buttonBox .button span.numHit {
		display:block;
		padding:4px 19px 0 0;
		color:#444658;
		font-weight:bold;
		font-family:Arial;
		text-align:right;
	}
	.itemView .item-comment {
		padding:17px 0 47px;
		color:#000;
	}
	.itemView .source-url {
		position:relative;
		margin-bottom:30px;
	}
	.itemView .source-url > p {
		padding:10px 0 10px 15px;
		color:#888;
		background-color:#ecf0f3;
	}
	.itemView .source-url > p >span {
		font-weight:bold;
		color:#808f99;
	}
	.itemView .source-url .clear {
		padding:10px 0 8px 15px;
		background-color:#d5dee4;
	}
	.itemView .source-url .clear li {
		float:left;
		margin-right:5px;
	}
	.itemView .source-url .button.shoppingBtn {
		width:;
		height:;
		background-position:;
	}
	.itemView .tblType {
		width:580px;
	}
	.itemView .tblType .blogerName {
		color:#333;
	}
	.itemView .tblType td {
	}
	.itemView .tblType td img, 
	.itemView .tblType td p {
		float:left;
	}
	.itemView .tblType td p {
		width:215px;
		padding-left:10px;
		line-height:16px;
	}
	.itemView .tblType .bloger-hits td {*zoom:1;}
	.itemView .tblType .bloger-hits td:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		height: 0;
	}
	.itemView .togetherTalk dt {
		position:relative;
		height:32px;
		line-height:32px;
		text-align:center;
		color:#000;
		font-weight:bold;
		border:1px solid #b1bbc2;
		background-color:#ecf0f3;
	}
	.itemView .togetherTalk dt span {
		position:absolute;
		left:22px;
		bottom:-10px;
		width:18px;
		height:10px;
		display:inline-block;
		background: url(/images/common/_ico/sprites-icon_130111.png) no-repeat 0 -602px;
	}
	.itemView .togetherTalk dd {
		padding:15px;
		border-left:1px solid #e7e7e7;
		border-right:1px solid #e7e7e7;
	}
	.itemView .togetherTalk dd textarea {
		width:488px;
		height:12px;
		border:1px solid #ccc;
	}
	.commentBox .commentType {
		*zoom:1;
		border:1px solid #b1bbc2;
	}
	.commentBox .commentType:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		height: 0;
	}
	.commentBox .commentType li {
		float:left;
		position:relative;
		width:193px;
		height:32px;
		line-height:32px;
		text-align:center;
		background:#ecf0f3 url(/images/common/_ico/sprites-icon_130111.png) no-repeat 0 -546px;
	}
	.commentBox .commentType li:first-child {
		width:192px;
		background-image:none;
	}
	.commentBox .commentType li a {
		color:#888;
	}
	.commentBox .commentType li.on span.check {
		display:inline-block;
		position:absolute;
		left:90px;
		bottom:-10px;
		width:18px;
		height:10px;
		background-image:url(/images/common/_ico/sprites-icon_130111.png);
		background-repeat:no-repeat;
		background-position:0 -602px;
	}
	.commentBox .commentType li.on a {
		color:#000;
		font-weight:bold;
	}
	.commentBox .commentCont {
		padding:13px 19px 11px 15px;
		border-left:1px solid #e7e7e7;
		border-right:1px solid #e7e7e7;
	}
	.commentBox .commentCont li {
		*zoom:1;
		width:544px;
		margin-bottom:3px;
		height:30px;
		line-height:30px;
		color:#333;
	}
	.commentBox .commentCont li:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		height: 0;
	}
	.commentBox .commentCont li > img {
		float:left;
		margin-right:9px;
	}
	.commentBox .commentCont li > span {
		float:left;
		width:480px;
	}
	.commentBox .commentCont li > span.icon {
		float:right;
		width:23px;
		text-indent:-9999px;
		background-image:url(/images/common/_ico/sprites-icon_130111.png);
		background-repeat:no-repeat;
	}
	.commentBox .commentCont li > span.icon.wish {
		background-position:-100px 8px;
	}
	.commentBox .commentCont li > span.icon.have {
		background-position:-100px -27px;
	}
	.commentBox .commentCont li > span.icon.talk {
		background-position:-100px -66px;
	}
	.commentBox .moreBtn {
		padding:4px 0 2px;
		text-align:center;
		border-right:1px solid #e7e7e7;
		border-bottom:1px solid #e7e7e7;
		border-left:1px solid #e7e7e7;
		background-color:#ecf0f3;
	}
	.itemCollection {
		*zoom:1;
		position:relative;
		margin-top:30px;
		padding:17px 0 8px 19px;
		border:1px solid #e7e7e7;
	}
	.itemCollection:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		height: 0;
	}
	.itemCollection .title {
		padding-bottom:11px;
		color:#333;
		font-weight:bold;
	}
	.itemCollection #select-img {
		margin-right:20px;
	}
	.itemCollection #select-img p {
		position:absolute;
		bottom:0;
		width:251px;
		height:27px;
		padding-left:9px;
		line-height:27px;
		color:#fff;
		background:url('/images/common/_bg/bg_itemTitle_130111.png') repeat-x 0 0;
	}
	.itemCollection #imgList > img {
		width:80px;
		height:80px;
		margin-right:10px;
		margin-bottom:10px;
	}
	.itemCollection #imgList > img.end {
		margin-right:0;
	}
	.itemCollection #popularity-item {
		margin-right:20px;
	}
	.btn-subscribe {
		position:absolute;
		right:16px;
		top:18px;
		padding-right:13px;
		color:#dd3110;
		font-size:11px;
		font-weight:bold;
		background:url('/images/common/_ico/sprites-icon_130111.png') repeat-x -249px 4px;
	}
	.blogerItem .profile {
		width:160px;
		height:160px;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		-o-border-radius:5px;
		-ms-border-radius:5px;
	}
	.blogerItem >p {
		padding:7px 0 11px;
		text-align:center;
		color:#333;
	}
	.blogerItem .hitsList dt,
	.blogerItem .hitsList dd {
		margin-bottom:1px;
		background-color:#bebec5;
	}
	.blogerItem .hitsList dt {
		width:85px;
	}
	.blogerItem .hitsList dd {
		width:64px;
	}
	.blogerItem .clear {
		margin-top:19px;
		border-top:1px solid #ddd;
		border-bottom:1px solid #ddd;
	}
	.blogerItem .clear .button {
		float:left;
	}
	.blogerItem .museAdd {
		width:160px;
		height:88px;
		border-bottom:1px solid #ddd;
		background-position:0 -700px;
	}
	.blogerItem .itemBuy {
		width:79px;
		height:63px;
		border-right:1px solid #ddd;
		background-position:0 -789px;
	}
	.blogerItem .itmSell {
		width:80px;
		height:63px;
		background-position:-80px -789px;
	}
	/*section-item*/
	.section-item {
		position:relative;
		float:left;
		width:260px;
		margin-bottom:10px;
	}
	.section-item > p.title {
		color:#333;
		font-weight:bold;
	}
	.section-item .cate-image {
		float:right;
		width:80px;
	}
	.section-item .cate-image > img {
		margin-bottom:10px;
	}
	
/*bloger*/
	.item .bloger {
		padding:10px 0;
		margin-left:12px;
	}
	.item .bloger p {
		width:171px;
		padding-left:9px;
	}
	.item .bloger p span.blogTitle {
		padding-left:5px;
		color:#b1aeb6;
		background:url('/images/common/_ico/sprites-icon_130111.png') no-repeat -495px -299px;
	}
	.item-slide .bloger p span,
	.item-slide .bloger p a {
		color:#fff;
	}

/*activitySide*/
	#activitySide {
		position:absolute;
		width:138px;
	}
	.main-container #activitySide {
		top:0;
		right:30px;
	}
	.collection-cont #activitySide {
		top:26px;
		right:30px;
	}
		#activitySide a {
			display:inline-block
		}
		#activitySide a:first-child {
			margin-bottom:10px;
		}


/*fashionMenu*/
	#fashionCategory {
		width:1230px;
		background:#84939f url('/images/common/_bg/bg_fashion_130111.gif') repeat-x 0 0;
	}
	.fashionMenu {
		*zoom:1;
		float:left;
		position:relative;
	}
		.fashionMenu:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			height: 0;
		}
		.fashionMenu h2 {
			float:left;
		}
		.fashionMenu h2 a {
			display:block;
			width:177px;
			height:66px;
			text-indent:-9999px;
			background-image:url('/images/common/_layout/sprites-layout_130111.png');
			background-repeat:no-repeat;
		}
		.fashionMenu h2 a.all {
			background-position:0 -400px;
		}
		.fashionMenu h2 a.clothing {
			background-position:-177px -400px;
		}
		.fashionMenu h2 a.shoes {
			background-position:-354px -400px;
		}
		.fashionMenu h2 a.bag {
			background-position:-531px -400px;
		}
		.fashionMenu h2 a.beauty {
			background-position:-708px -400px;
		}
		.fashionMenu h2 a.acc {
			background-position:-885px -400px;
		}
		/*hover*/
		.fashionMenu h2 a.all.on {
			background-position:0 -500px;
		}
		.fashionMenu h2 a.clothing.on {
			background-position:-177px -500px;
		}
		.fashionMenu h2 a.shoes.on {
			background-position:-354px -500px;
		}
		.fashionMenu h2 a.bag.on {
			background-position:-531px -500px;
		}
		.fashionMenu h2 a.beauty.on {
			background-position:-708px -500px;
		}
		.fashionMenu h2 a.acc.on {
			background-position:-885px -500px;
		}
		.fashionMenu .fashionList {
			background-color:#84939f;
			z-index:1;
			position:absolute;
			top:66px;
			left:0;
			padding-top:19px;
		}
		.fashionMenu ul.fashionList {
			width:176px;
			padding-bottom:15px;
		}
			.fashionMenu .fashionList li {
				line-height:22px;
			}
			.fashionMenu .fashionList li a {
				padding:0 0 0 14px;
				color:#bfc8d0;
			}
		.fashionMenu #allList {
			padding-top:0;
			padding-left:176px;
		}
		.fashionMenu #allList ul {
			float:left;
			width:176px;
			padding-top:19px;
			padding-bottom:15px;
			border-left:1px solid #acb3b9;
		}
		.fashionMenu #clothingList {
			left:177px;
		}
		.fashionMenu #shoesList {
			left:354px;
		}
		.fashionMenu #bagList {
			left:531px;
		}
		.fashionMenu #beautyList {
			left:708px;
		}
		.fashionMenu #accList {
			left:885px;
		}