.tx-content-container {
	line-height:1.5;
	font-size: 9pt;
}

.tx-content-container em { font-style: italic; }
.tx-content-container p { margin: 0; padding: 0; }
.tx-content-container ol { padding-left:25px; }
.tx-content-container ol li{ list-style-type: inherit; }
.tx-content-container ul { list-style-type: disc; padding-left:20px;}
.tx-content-container ul li{ list-style-type: inherit;}
.tx-content-container td { font-size:9pt }
.tx-content-container table { margin-left: 0;}

.tx-content-container hr, 
.tx-content-container h1, 
.tx-content-container h2, 
.tx-content-container h3, 
.tx-content-container h4, 
.tx-content-container h5, 
.tx-content-container h6 { display:block;  }


button { background-color:transparent; border:none; padding:0px; text-align:left; margin:0; }
button img { vertical-align:middle; }



.tx-hr-border-1 { height: 1px; border-top: 1px solid #666; border-bottom: 0px none; border-left: 0px none; border-right: 0px none; display: block;}
.tx-hr-border-2 { height: 7px; border-top: 1px solid #666; border-bottom: 3px solid #666; border-left: 0px none; border-right: 0px none; display: block;}
.tx-hr-border-3 { height: 1px; border-top: 1px dotted #666; border-bottom: 0px none; border-left: 0px none; border-right: 0px none; display: block;}

div.tx-hr-image-1 { border: 0pt none; height: 15px; background:url(../../images/deco/line03.gif?rv=1.0.1) repeat-x scroll left; width:99%;}
div.tx-hr-image-1 hr { position:relative; top: -999px; left: -999px; border: 0pt none; }

div.tx-hr-image-2 { border: 0pt none; height: 15px; background:url(../../images/deco/line05.gif?rv=1.0.1) repeat-x scroll left; width:99%;}
div.tx-hr-image-2 hr { position:relative; top: -999px; left: -999px; border: 0pt none; }

div.tx-hr-image-3 { border: 0pt none; height: 15px; background:url(../../images/deco/line06.gif?rv=1.0.1) repeat-x scroll left; width:99%;}
div.tx-hr-image-3 hr { position:relative; top: -999px; left: -999px; border: 0pt none; }

div.tx-hr-image-4 { border: 0pt none; height: 15px; background:url(../../images/deco/line08.gif?rv=1.0.1) no-repeat scroll center; width:99%;}
div.tx-hr-image-4 hr { position:relative; top: -999px; left: -999px; border: 0pt none; }


.tx-quote1 { border: 1px solid #dbdbdb; margin: 10px; padding: 10px; }
.tx-quote2 { border: 3px solid #dbdbdb; margin: 10px; padding: 10px; }		
.tx-quote3 { border: 1px dashed #dbdbdb; margin: 10px; padding: 10px; }
.tx-quote4 { border: none; background: url(../../images/deco/titation01.gif?rv=1.0.1) top left no-repeat; padding: 0px 20px 10px 20px; margin: 10px; }
.tx-quote5 { border: none; border-left: 2px solid #dbdbdb; margin: 10px; padding: 10px; }


.txc-textbox1 { padding:10px; background-color:#ffffff; border:1px solid #f7f7f7; }
.txc-textbox2 { padding:10px; background-color:#eeeeee; border:1px solid #eeeeee; }
.txc-textbox3 { padding:10px; background-color:#f2f2b8; border:1px solid #f2f2b8; }
.txc-textbox4 { padding:10px; background-color:#fedec7; border:1px solid #fedec7; }
.txc-textbox5 { padding:10px; background-color:#e7fdb5; border:1px solid #e7fdb5; }
.txc-textbox6 { padding:10px; background-color:#dbe8fb; border:1px solid #dbe8fb; }

.txc-textbox7 { padding:10px; background-color:#ffffff; border:1px dotted #cbcbcb; }
.txc-textbox8 { padding:10px; background-color:#eeeeee; border:1px dotted #c1c1c1; }
.txc-textbox9 { padding:10px; background-color:#f2f2b8; border:1px dotted #f3c534; }
.txc-textbox10 { padding:10px; background-color:#fedec7; border:1px dotted #fe8943; }
.txc-textbox11 { padding:10px; background-color:#e7fdb5; border:1px dotted #9fd331; }
.txc-textbox12 { padding:10px; background-color:#dbe8fb; border:1px dotted #79a5e4; }

.txc-textbox13 { padding:10px; background-color:#ffffff; border:1px solid #cbcbcb; }
.txc-textbox14 { padding:10px; background-color:#eeeeee; border:1px solid #c1c1c1; }
.txc-textbox15 { padding:10px; background-color:#f2f2b8; border:1px solid #f3c534; }
.txc-textbox16 { padding:10px; background-color:#fedec7; border:1px solid #fe8943; }
.txc-textbox17 { padding:10px; background-color:#e7fdb5; border:1px solid #9fd331; }
.txc-textbox18 { padding:10px; background-color:#dbe8fb; border:1px solid #79a5e4; }

.txc-textbox19 { padding:10px; background-color:#ffffff; border:3px double #cbcbcb; }
.txc-textbox20 { padding:10px; background-color:#eeeeee; border:3px double #c1c1c1; }
.txc-textbox21 { padding:10px; background-color:#f2f2b8; border:3px double #f3c534; }
.txc-textbox22 { padding:10px; background-color:#fedec7; border:3px double #fe8943; }
.txc-textbox23 { padding:10px; background-color:#e7fdb5; border:3px double #9fd331; }
.txc-textbox24 { padding:10px; background-color:#dbe8fb; border:3px double #79a5e4; }
